{% extends "layout.html.twig" %}
{% block title %}{{ 'registration.check_email_title'|trans|raw }}{% endblock %}
{% block meta_title %}{{ 'registration.check_email_title'|trans }}{% endblock %}

{% block content %}
    <div class="container my-3">
        <div class="row">
            <p class="col-12 alert alert-bt-info">{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
        </div>
    </div>
{% endblock content %}
