{% extends "layout.html.twig" %}
{% block title %}{{ 'resetting.request.title'|trans }}{% endblock %}
{% block meta_title %}{{ 'resetting.request.title'|trans }}{% endblock %}

{% block content %}
<div class="container my-3">
    <div class="row">
        <p class="col-12 alert alert-bt-info">
        {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
        </p>
    </div>
</div>
{% endblock %}
