.admin-container {
  display: flex;
  min-height: 100vh;
  position: relative;
  &.expanded {
    //padding-left: 120px;
    animation: toggle-admin-navbar .2s ease-in-out forwards;
    & .admin-container__nav {
      transform: translateX(120px);
      @include media-breakpoint-up(sm) {
        transform: translateX(0);
      }
    }
    .admin-nav__toggle i {
      transform: rotate(180deg);
    }
  }
  &__nav {
    background-color: #2e2e2e;
    position: fixed;
    left: -120px;
    height: 100vh;
    width: 104px;
    transform: translateX(0);
    transition: transform .2s ease-in-out;
    @include media-breakpoint-up(sm) {
      position: static;
      width: auto;
      height: auto;
    }
    color: white;
    padding: .25rem .5rem;
    box-shadow: 1px 0 2px #2d2d2d;
    & a {
      color: white;
      display: block;
      text-decoration: none;
      transition: color 200ms ease-in-out;
      &:hover {
        color: $gold;
      }
    }
    .admin-nav {
      position: relative;
      &__toggle {
        @include media-breakpoint-up(sm) {
          display: none;
        }
        position: absolute;
        right: -32px;
        top: calc(-4px - .25rem);
        background-color: #2e2e2e;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0 0 .25rem 0;
        box-shadow: 1px 0 2px #2d2d2d;
        & i {
          transition: transform .2s ease-in-out;
        }
      }
      &__item {
        margin: .25rem 0;
        &__subnav {
          padding-left: 1.5rem;
          &__item {

          }
        }
      }
    }
  }
  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    @include media-breakpoint-up(sm) {
      flex-direction: row;
      align-items: flex-start;
    }
    padding: 2px 3px;
  }
}

@keyframes toggle-admin-navbar {
  0% {
    padding-left: 0;
  }
  100% {
    padding-left: 120px;
  }
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .125rem .25rem;
  font-size: 1rem;
  line-height: 1;
  border-radius: .125rem;
  text-decoration: none;
}

.bt-btn {
  border: none;
  cursor: pointer;
  position: relative;
  padding: .125rem .25rem;
  &:focus {
    outline: none;
    animation: clicked .5s;
  }
  &--block {
    width: 100%;
  }
  @each $btn-type, $btn-styles in $btns {
    &--#{$btn-type} {
      $bg-color: map_get(map_get($btns, $btn-type), 'bg-color');
      $color: map_get(map_get($btns, $btn-type), 'color');
      background-color: $bg-color;
      background-image: linear-gradient(transparent, rgba(0,0,0,.3));
      color: $color;
      transition: background-color .1s ease-in-out;
      &:hover {
        background-color: darken($bg-color, 10%);
        color: $color;
        text-decoration: none;
      }
    }
  }
}