.btheader {
  display: grid;
  background-color: $navbar-bg;
  grid-template-columns: 60px calc(100% - 120px) 30px 30px;
  grid-template-rows: 30px 30px;
  height: 60px;
  position: fixed;
  top: 0;
  width: calc(100% - .5rem);
  z-index: 1000;
  transition: opacity .2s ease-in-out;
  &.hide {
    opacity: 0;
    pointer-events: none;
  }
  @include media-breakpoint-up(sm) {
    grid-template-columns: 180px calc(100% - 280px) 50px 50px;
    grid-template-rows: 30px 10px 20px;
  }
  @include media-breakpoint-up(md) {
    grid-template-columns: 60px 180px calc(100% - 340px) 50px 50px;
  }
  @include media-breakpoint-up(lg) {
    grid-template-columns: 60px 180px calc(100% - 300px) 60px;
  }
  @include media-breakpoint-up(xl) {
    grid-template-columns: 60px 180px calc(100% - 360px) 60px 60px;
  }
  &__logo {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 3;
    display: flex;
    align-items: center;
    @include media-breakpoint-up(sm) {
      grid-row-start: 1;
      grid-row-end: 4;
    }
    img {
      width: 100%;
      max-height: 60px;
    }
    & .logo-papillon {
      position: absolute;
      top: 0;
      left: 0;
      width: 25px;
      transform-origin: bottom right;
      animation: fly 10s ease-in-out;
      z-index: 1000;
      pointer-events: none;
      @include media-breakpoint-up(md) {
        animation-duration: 20s;
      }
    }
  }
  &__brand {
    & a {
      position: relative;
      display: flex;
    }
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include media-breakpoint-up(sm) {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-end: 4;
    }
    @include media-breakpoint-up(md) {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    & .logo {
      position: absolute;
      width: 40px;
      top: 18px;
      left: -17px;
      @include media-breakpoint-up(md) {
        position: static;
        width: auto;
      }
    }
    & .logo-papillon {
      position: absolute;
      top: 13px;
      left: -20px;
      width: 20px;
      transform-origin: bottom right;
      animation: fly 10s ease-in-out;
      z-index: 1000;
      pointer-events: none;
      @include media-breakpoint-up(md) {
        top: -4px;
        left: -4px;
        width: 25px;
      }
    }
    img {
      max-height: 56px;
      max-width: 100%;
    }
  }
  &__tool{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    @include media-breakpoint-up(lg) {
      width: 60px;
      height: 60px;
    }
    &--search {
      grid-row-start: 2;
      grid-column-start: 3;
      @include media-breakpoint-up(sm) {
        grid-column-start: 5;
      }
      @include media-breakpoint-up(lg) {
        grid-row-start: 1;
        grid-column-start: 4;
      }
    }
    &--user {
      display: none;
      @include media-breakpoint-up(sm) {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-row-start: 1;
        grid-column-start: 3;
      }
      @include media-breakpoint-up(md) {
        grid-row-start: 1;
        grid-column-start: 4;
      }
      @include media-breakpoint-up(lg) {
        display: none;
      }
      @include media-breakpoint-up(xl) {
        display: flex;
      }
    }
    &--cart {
      grid-row-start: 1;
      grid-column-start: 3;
      grid-row-end: 3;
      grid-column-end: 5;
      @include media-breakpoint-up(sm) {
        grid-column-start: 4;
        grid-column-end: 5;
      }
      @include media-breakpoint-up(md) {
        grid-column-start: 5;
      }
      @include media-breakpoint-up(lg) {
        grid-column-start: 4;
      }
      @include media-breakpoint-up(xl) {
        grid-column-start: 5;
      }
    }
    & i {
      font-size: 2.4rem;
      color: black;
    }
  }
}

$path: (
  25: (
    top: -5%,
    left: 40%
  ),
  50: (
    top: 20%,
    left: 80%
  ),
  75: (
    top: 50%,
    left: 30%
  ),
  90: (
    top: -5%,
    left: -30px
  ),
);

@keyframes fly {
  @for $i from 0 through 100 {
    #{$i}% {
      //Battement des ailes
      @if $i % 2 == 0 {
        @if($i < 50 or $i > 90) {
          transform: scale3d(1, 1, 1);
        } @else {
          transform: scale3d(-1, 1, 1);
        }
      } @else {
        @if($i < 50 or $i > 90) {
          transform: scale3d(.95, .95, 1);
        } @else {
          transform: scale3d(-0.95, .95, 1);
        }
      }

      //Déplacement
      @if (map-has-key($path, $i)) {
        top: map_get(map_get($path, $i), 'top');
        left: map_get(map_get($path, $i), 'left');
      }
    }
  }
}